<!DOCTYPE html>
<!-- 系统错误信息显示页面 -->
<html>

  <h1 > <%= message %></h1>
   <ul>

 <pre ><%=error.stack %></pre>
 <pre ><%=error.status %></pre>

  <a href="javascript:history.go(-1);">返回上一页</a>
</html>
