<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>login</title>
  </head>
  <body>
    <form class="" action="/home" method="get">
      学号: <input type="text"
      name="username" value="">
      <br>
      密码: <input type="password"
       name="password" value="">
       <br>

       <button type="submit" name="button">
         提交
       </button>
       <br>

       <a href="/register">还没有账号？注册一个</a>

    </form>

  </body>
</html>
