<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Internship Sign In & Sign Up Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Internship Sign In & Sign Up Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />

    <!-- Custom Theme files -->

    <link href="/stylesheets/style3.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //web font -->
  </head>
  <body>
    <div class="top-buttons-agileinfo">
    <h3><a href="index.html">多功能图书馆</a></h3>
    </div>
   <div class="main-agileits">
<!--form-stars-here-->
		<div class="form-w3-agile">
			<h1>Welcome</h1>
    <form class="" action="/users/home" method="get">
      <input type="text" name="id" value="" placeholder="学号"/>
        <input type="password" name="password" value=""placeholder="密码"  />
       <div class="submit-w3l">
         <input type="submit" value="登 录"/>
       </div>
       <p class="p-text-w3ls"><a  class="forgot" href="/register">注册新账号</a></p>
    </form>
  </div>
		</div>
<!--//form-ends-here-->
<!-- copyright -->
	<div class="copyright w3-agile">
		<p> © 2017 Internship Sign In & Sign Up Form .| Powered by 多功能图书馆</p>
	</div>
	<!-- //copyright -->

</body>
</html>
