<!DOCTYPE html>
<!-- 单信息提示页面 -->
<html>
  <h1 > <%= title %></h1>
  <h2 > <%= message %></h2>
  <pre><%= detail %></pre >
  <a href="javascript:history.go(-1);">返回上一页</a>
  <a href="../home">返回我的主页</a>
  <br>
  <a href="/login">登录</a>
</html>
