<!DOCTYPE html>
<!-- 注册页面 -->
<html lang="en" dir="ltr">
<head>
  <title>智能图书馆用户注册</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Internship Sign In & Sign Up Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
  <link href="/stylesheets/style2.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
  <form class="" action="/users/addUser" method="get">
    <div class="top-buttons-agileinfo">
      <a href="/login">登录</a><a href="/register">注册</a>
    </div>
  	<div class="form-w3-agile">
  			<h2 class="sub-agileits">注册信息填写</h2>
  			<form action="#" method="post">
  				  <input type="text" name="id" placeholder="学号（11位数）" required=""/>
  					<input type="text" name="name" placeholder="姓名（2-16位字符）" required="" />
  					<input type="password" name="password" placeholder="密码（6-16位字符）" required="" />
  					<input type="text" name="email" placeholder="邮箱" required="" />
  				<div class="submit-w3l">
  					<input type="submit" value="立  即  注  册" id="register">
  				</div>
  			</form>
  		</div>

  	<div class="copyright w3-agile">
  		<p> © 2017 Internship Sign In & Sign Up Form .| Powered by 智能图书馆</p>
  	</div>
    </form>
  </body>
</html>
